body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading_container h2 {
  position: relative;
}

.heading_container h2::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 30px;
  top: 14%;
  right: -15px;
  background: -webkit-gradient(linear, left top, right top, from(#fb930a), to(#f5e47b));
  background: linear-gradient(to right, #fb930a, #f5e47b);
}

/*header section*/
.hero_area {
  height: 100vh;
  position: relative;
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.sub_page .hero_area {
  height: auto;
  background-position: top right;
}

.hero_area.sub_pages {
  height: auto;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #191919;
    text-transform: uppercase;
}

.navbar-brand span {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #191919;
  text-transform: uppercase;
}

.custom_nav-container {
  z-index: 99999;
  padding: 5px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 45px; 
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #000000;
  position: relative;
}

.quote_btn-container a .cart_number {
  position: absolute;
  top: 68%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 12px;
}

.quote_btn-container a img {
  width: 20px;
  margin: 0 25px;
}

/*end header section*/
/* slider section */
.slider_section {
  height: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 75px;
}

.slider_section .design-box img {
  width: 100%;
}

.slider_section .slider_number-container {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4%;
  text-align: center;
  opacity: .6;
}

.slider_section .slider_number-container hr {
  width: 1px;
  height: 50px;
  border: none;
  background-color: #ffffff;
}

.slider_section .slider_number-container .number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}

.slider_section .detail_box h2 {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail_box h2 span {
  margin-right: 10px;
}

.slider_section .detail_box h2 hr {
  margin: 0;
  border: none;
  width: 55px;
  height: 1px;
  background-color: #000000;
}

.slider_section .detail_box h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 5rem;
  margin-bottom: 30px;
}

.slider_section .detail_box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin: 35px 0;
}

.slider_section .detail_box a:hover {
  background-color: transparent;
  color: #0d0806;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  padding: 0;
  margin: 0;
  right: initial;
  bottom: 22%;
  left: 17%;
}

.slider_section .carousel-indicators li {
  text-indent: 0;
  width: auto;
  height: auto;
  opacity: 1;
  background-color: transparent;
  border: none;
  color: #c0c0c0;
  font-size: 24px;
  display: none;
}

.slider_section .carousel-indicators li.active {
  display: block;
}

.item_section .item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item_section .item_container .box {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 10px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.15);
}

.item_section .item_container .box .img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_section .item_container .box .img-box img {
  width: 125px;
}

.item_section .item_container .box h6 {
  color: #fbb534;
  text-transform: uppercase;
}

.item_section .item_container .box h5 {
  text-transform: uppercase;
}

.item_section .item_container .box:hover {
  -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.1);
}

.about_section {
  position: relative;
}

.about_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 75px;
}

.about_section .design-box img {
  width: 100%;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box p {
  margin-top: 35px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
  margin-top: 35px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #0d0806;
}

.about_section .img-box img {
  width: 100%;
}

.price_section {
  background-color: #f8f8f8;
}

.price_section .price_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price_section .price_container .box {
  min-width: 300px;
  max-width: 360px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px 10px;
  padding: 45px 0 25px 0;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.price_section .price_container .box .img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price_section .price_container .box .img-box img {
  width: 150px;
}

.price_section .price_container .box h6 {
  font-weight: bold;
  font-size: 18px;
}

.price_section .price_container .box .detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}

.price_section .price_container .box .detail-box h5 span {
  color: #fbb534;
}

.price_section .price_container .box .detail-box a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000000;
  font-weight: bold;
  color: #000000;
  margin-top: 15px;
}

.price_section .price_container .box:hover a {
  border-color: #fbb534;
  color: #fbb534;
}

.price_section .price_btn {
  display: inline-block;
  padding: 8px 40px;
  background-color: #0d0806;
  border: 1px solid #0d0806;
  color: #ffffff;
  border-radius: 0;
}

.price_section .price_btn:hover {
  background-color: transparent;
  color: #0d0806;
}

.ring_section {
  text-align: center;
  position: relative;
}

.ring_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ring_section .container {
  -webkit-box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 56px 1px rgba(0, 0, 0, 0.08);
}

.ring_section .design-box {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 75px;
}

.ring_section .design-box img {
  width: 100%;
}

.ring_section .ring_container .detail-box h4 {
  text-transform: uppercase;
  color: #fbb534;
}

.ring_section .ring_container .detail-box a {
  display: inline-block;
  padding: 5px 15px;
  border: 1px solid #000000;
  font-weight: bold;
  color: #000000;
  margin-top: 15px;
}

.ring_section .ring_container .img-box img {
  width: 100%;
}

.client_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client_section .secondary_heading {
  text-align: center;
}

.client_section .client_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fbb534;
  padding: 25px;
  width: 85%;
  margin: 75px auto;
}

.client_section .client_container .client-id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.client_section .client_container .client-id .img-box {
  margin-right: 25px;
}

.client_section .client_container .client-id .img-box img {
  width: 100%;
}

.client_section .client_container .client-id h5 {
  font-weight: bold;
}

.client_section .client_container .client-id h6 {
  color: #f6d768;
}

.client_section .client_container .detail-box {
  width: 55%;
}

.client_section .client_container .detail-box p {
  margin: 0;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  opacity: 1;
}

.client_section .carousel-control-prev {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.client_section .carousel-control-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.client_section .carousel-control-prev-icon,
.client_section .carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-size: 25px;
}

.client_section .carousel-control-prev-icon {
  background-image: url(../images/prev-black.png);
}

.client_section .carousel-control-prev-icon:hover {
  background-image: url(../images/prev.png);
}

.client_section .carousel-control-next-icon {
  background-image: url(../images/next-black.png);
}

.client_section .carousel-control-next-icon:hover {
  background-image: url(../images/next.png);
}

.contact_section {
  position: relative;
}

.contact_section .design-box {
  position: absolute;
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  right: 0;
  width: 75px;
}

.contact_section .design-box img {
  width: 100%;
}

.contact_section h2 {
  margin-bottom: 65px;
}

.contact_section form {
  padding-right: 35px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  background-color: transparent;
  outline: none;
  color: #101010;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

.contact_section input::-webkit-input-placeholder {
  color: #131313;
}

.contact_section input:-ms-input-placeholder {
  color: #131313;
}

.contact_section input::-ms-input-placeholder {
  color: #131313;
}

.contact_section input::placeholder {
  color: #131313;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  padding: 12px 45px;
  outline: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5e47b), to(#fb930a));
  background: linear-gradient(to bottom, #f5e47b, #fb930a);
  margin-top: 35px;
}

.contact_section .map_container {
  height: 100%;
  padding-bottom: 110px;
}

.contact_section .map_container .map-responsive {
  height: 100%;
}

.info_section {
  background-color: #363636;
  color: #ffffff;
  margin-top: 10px;
}

@media (max-width: 700px){
  .info_section {
    background-color: #363636;
    color: #ffffff;
    margin-top: 40px;
  }
}



.info_section .info_container .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 10px 45px 10px;
  background-color: #ffffff;
  width: 200px;
  border-radius: 0 0 50px 50px;
}

.info_section .info_container .info_logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_container .info_logo a img {
  width: 50px;
  margin-right: 10px;
}

.info_section .info_container .info_logo a span {
  text-transform: uppercase;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
}

.info_section .info_container .info_contact {
  padding: 115px 10px 45px 10px;
}

.info_section .info_container .info_contact a {
  color: #ffffff;
}

.info_section .info_container .info_contact a img {
  margin-right: 10px;
}

.info_section .info_heading {
  text-transform: uppercase;
  margin: 20px 0;
  position: relative;
}

.info_section .info_heading::before {
  content: "";
  width: 45px;
  height: 5px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
  background-color: #f8bf46;
}

.info_section .info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_form form .email_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_form form label {
  color: #5a5959;
}

.info_section .info_form form input {
  width: 500px;
  border: none;
  background-color: #ffffff;
  outline: none;
  padding: 5px;
}

.info_section .info_form form button {
  padding: 8px 65px;
  outline: none;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f5e47b), to(#fb930a));
  background: linear-gradient(to bottom, #f5e47b, #fb930a);
  margin-top: 35px;
  text-transform: uppercase;
}

.info_section .info_social {
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_social .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_social .social_box img {
  min-width: 10px;
  margin: 0 10px;
}

/* footer section*/
.footer_section {
  background-color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer_section p {
  border-top: 1px solid #ffffff;
  color: #9c9b9b;
  margin: 0;
  text-align: center;
  padding: 20px 35px;
  margin: 0;
}

.footer_section a {
  color: #9c9b9b;
}
/*# sourceMappingURL=style.css.map */


/* Contact page design */

.testim .titre0 h2{
  font-size: 30px;
  padding-top: 5rem;
  text-align: center;
}

.testim_cl{
  display: flex;
  flex-wrap: wrap;
  border: #fb930a;
  /* left: 50%; */
  width: 55%;
  margin: 50px auto;
  gap: 10px;
  padding: 20px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.testim_cl img{
 border-radius: 50%;
 border-color: #fb930a;
 border-style: dashed;
 width: 140px;
}

.testim_cl p{
  display: block;
  border: #F9B233;
  font-size: 20px;
  font-family: "Source Pro Sans", sans-serif;
  font-weight: normal;
  width: 70%;
  text-align: center;
}

.reachout h2{
  font-size: 20px;
  color: #fb930a;
  font-weight: bold;
  padding-bottom: 7px;
}

.contenaire{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: auto;
  background-image: linear-gradient(180deg, #F9B233,#FCEA10);
  border-radius: 20px;
  width: 60%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
}

.contenaire .contenaire1 form{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 0.2fr;
  grid-template-areas: "info message" "btn btn";
  grid-gap: 2rem;
}

.contenaire .contenaire1 form .info{
  display: grid  !important;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  flex-direction: column !important;
  grid-area: info;
}
.contenaire .contenaire1 form .message{
  display: grid;
  grid-template-rows: auto auto;
  grid-area: message;
}

.contenaire .contenaire1 form input,  textarea {
  padding: 5px;
  border: none;
  border-radius: 4px;
  margin-bottom: 5px;
}
.contenaire .contenaire1 form .btn {
  grid-area: btn;
  
  
}

.contenaire .contenaire1 form .btn input {
  padding: 2px 30px;
  border-radius: 40px;  
}

.reach {
  display: grid;
  /* background-color: #f5e47b; */
  grid-template-columns:  auto auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "phone address whatsapp";
  text-align: center;
  grid-gap: 60px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.title{
  display: flex;
  justify-content: center;
  padding: 40px;
 }

.reach .title span{
  font-size: 15px;
  font-weight: bold;
}


.reach .contact_mean1{
  grid-area: phone;
  align-items: center;
}

.reach .contact_mean2{
  grid-area: whatsapp;
}

.reach .contact_mean3{
  grid-area: address;
}

.button a {
  display: flex;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  width: 20vw;
  height: auto;
  margin: 10px 10px;
  background-color: #F9B233;
  color: #ffffff;
  font-weight: bold;
  font-family: "Source Sans Pro"sans-serif;
  justify-content: center;
 
}
 .button{
  display: flex;
  justify-content: center;
  padding: 40px;
 }

 .contact_mean1 img,.contact_mean2 img, .contact_mean3 img{
  padding: 12px 0px;
 }

 @media (max-width:700px){
  .contenaire2 form{
    display: flex !important;
    flex-direction: column;
  }
  
 }








 /* GALLERY ************************************************************************* */




 .gallery_intro{
  display: flex;
  justify-content: center;
  padding: 30px 10px;
 }

 .gallery_intro img{
  width: 90%;
 }

 .gallery_intro {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-content: center !important;
  align-items: center;
  width: 90%;
  gap: 10px;
  padding: 20px;
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
 }
 .gallery_intro .gal_title {
  grid-column: 1;
 }
 .gallery_intro .gal_imag {
  grid-column: 2;
 }

 @media (max-width: 700px){
  .gallery_intro{
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
   }
  
 }

 /* Products ***************************************************************************************/

 .product {
  position: relative;
  /* overflow: hidden; */
  padding: 30px 60px;
}

.product-category {
  display: flex;
  justify-content: right;
  color: #ffffff;
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  background-color: #fb930a;
  text-align: center;
  border-radius: 30px;
  border: #fb930a;
  width: fit-content;
  
}

.product-container {

  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 400px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 7px;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #fb930a;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #fb930a;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
  font-size: 20px;
}

.product-short-description {
  width: 100%;
  height: 20px;
  display: flex;
  word-wrap: normal;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
  font-weight: bold;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}


.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}


 